<link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

<div class='wrapper' style='height:100%;background-color:#e5e5e5;overflow:hidden'>


  <div class="make-buttons">
    <%= link_to "Make a new Singles Listing", new_listing_path %><br>
    <%= link_to "Make a new Lot Listing", { controller: "listings", action: "new", lot: true } %>
  </div>

  <div class="queue">
    <h2>Queued Listings</h2>
    <% @listings.each do |l| %>
      <p><%= link_to "Preview", listing_path(l) %><%= " || " + l.make_title + " " %><%= " || " + "Price:" + " " + l.price.to_s if l.price %></p>
    <% end %>
  </div>

  <div class="current-totals">
    <h3><%= "Value so far = " + '%.2f' % @current_value.to_s + " On " + @listings.count.to_s + " auctions And " + @current_quantity.to_s + " Total Items" %></h3>
  </div>

  <button><%= button_to "Price 'em", price_listings_path %></button>
  <button><%= button_to "Value 'em", value_listings_path %></button>
  <button><%= button_to "List 'em", csv_listings_path %></button>
</div>