Here's da home.

<%= link_to "Make a new Listing", new_listing_path %>

<% @listings.each do |l| %>
  <p><%= l.card + " x" + l.number.to_s + " " + l.series %><%= " Quantity = " + l.quantity.to_s + " " %><%= link_to "Preview", listing_path(l) %> </p>
<% end %>

<h3><%= "Value so far = " + '%.2f' % @current_value.to_s + " On " + @listings.count.to_s + " auctions" %></h3>