<div class="new-item-form">
  <%= form_for @listing do |f| %>

    <%= f.label :title %>:
    <%= f.text_field :title, autofocus: true %><br><div class="spacer"></div>

    <%= f.label :series %>:
    <%= f.text_field :series %><br><div class="spacer"></div>

    <%= f.label :number %>:
    <%= f.text_field :number %><br><div class="spacer"></div>

    <%= f.label :quantity %>:
    <%= f.number_field :quantity %><br><div class="spacer"></div>

    <%= f.label :condition %>:
    <%= f.text_field :condition %><br><div class="spacer"></div>

    <% if @listing.listing_type == "lot" %>
      <%= f.label :notes %>:
      <%= f.text_field :notes %><br><div class="spacer"></div>

      <%= f.label :price %>:
      <%= f.text_field :price %><br><div class="spacer"></div>
    <%end%>

    <% if @listing.listing_type == "auction" %>
      <%= f.label :price %>:
      <%= f.text_field :price, value: ".99" %><br><div class="spacer"></div>
      <%= f.label :type %>:
      <%= f.text_field :listing_type, value: "auction" %><br><div class="spacer"></div>
    <%end%>

    <%= f.label :foil %>:
    <%= f.check_box :foil %><br><div class="spacer"></div>

    <div class="submit"><%= f.submit %></div>
  <% end %>
</div>

<%# add something to listings like "notes" where you can put additional stuff, and add to the template a place
where notes render.  so i could add some stuff, espeically to lots and all that %>